@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

/*
* top.css
*
*/


@import "_partials/reset";



body,html,main{
  height: 800px;
  overflow: hidden;
}

.lead_text {
  text-align: center;
}
.template {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
.text {
  line-height: 1;
  padding-top: 20px;
  font-family: 'Imperial Script', cursive;

  font-size: 47px;
  color: #fff;
}
.lease {
  width: 320px;
  height: 320px;
  margin: 10px auto 0;
}
.drag-and-drop {
  cursor: move;
  position: absolute;
  z-index: 1000;
}

.drag {
  z-index: 1001;
}

#canvas-box {
width: 320px;
height: 420px;
position: relative;
}


  .bg-container .imgbox{
    max-width: 320px;
    min-height: 420px;
    position: relative;

  }
  .bg-container .imgbox .bg-item{
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      transition: .4s;
  }


.bg-color_list {
  margin: 100px auto 0;
  display: flex;
}
.bg-color_list p{
  text-align: center;
  font-weight: bold;
  color: #444;
}
.bg-container .bg-color_btn{
    max-width: 800px;
    padding: 0;
    width: 258px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 14px;
}
.bg-container li{
    width: 30%;
list-style-type:none;
}
.bg-container li label{
    display:block;
    width: 50px;
    border-radius: 10px;
    border: solid #ccc 2px;
    margin: 0 auto;
}
.bg-container li .bg-item{
    width: 100%;
    height:auto;
}



#bg-1,#bg-2,#bg-3{
  display: none;
}
#bg-1:checked ~ .imgbox .bg-item:nth-child(1){
 opacity: 1;
}
#bg-2:checked ~ .imgbox .bg-item:nth-child(2){
 opacity: 1;
}
#bg-3:checked ~ .imgbox .bg-item:nth-child(3){
 opacity: 1;
}

.bg-color1 {
  background-color: #67badb;
}

.bg-color2 {
  background-color: #114656;
}
.bg-color3 {
  background: radial-gradient(circle, rgba(251,194,63,1) 20%, rgba(251,138,66,1) 46%, rgba(252,70,70,1) 77%, rgba(159,23,23,1) 98%);
}

.content {
  margin: 10px auto;
  max-width: 320px;
}

.drag-items {
  display: flex;
  margin-top: 10px;
  .drag-item {
    width: 20%;
  }
}

.downlowd-btn {
  display: block;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #57cc99;
  color: #57cc99;
  margin: 10px auto;
  display: block;
  width: 200px;
}
.downlowd-btn:hover {
  color: #fff;
}
.downlowd-btn:hover:after {
  width: 100%;
}
.downlowd-btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #57cc99;
}

.snow {
  padding-top: 7px;
}

.snow svg{
  width: 320px;
  height: 420px;
}


.item-bell {
  width: 90px;
  height: 90px;
  svg{
    width: 90px;
    height: 90px;
  }
}

.item-socks {
  width: 56px;
  height: 70px;
  svg{
    width: 56px;
    height: 70px;
  }
}

.item-cookie {
  width: 80px;
  height: 80px;
  svg{
    width: 80px;
    height: 80px;
  }
}

.item-pegasus {
  width: 80px;
  height: 80px;
  svg{
    width: 80px;
    height: 80px;
  }
}

.item-candy {
  width: 90px;
  height: 90px;
  svg{
    width: 90px;
    height: 90px;
  }
}

.item-ball {
  width: 70px;
  height: 70px;
  svg{
    width: 70px;
    height: 70px;
  }
}

.item-present {
  width: 70px;
  height: 70px;
  svg{
    width: 70px;
    height: 70px;
  }
}


